/*===================================================================================================================================================================================================================================
*
* 
* Author: Branden Dane - Full Stack Developer
* Contact Email: Branden@DaneTheory.com
* My Portfolio & Other Goodies Can Be Found At: 
* =======> http://www.DaneTheory.com/ <========
*                 
*                 ;                                                                                                                 
*                 ED.                                                                                   :                           
*                 E#Wi                     L.                     ,;                             ,;    t#,                          
*                 E###G.                   EW:        ,ft       f#i          .    .            f#i    ;##W.   j.                    
*                 E#fD#W;               .. E##;       t#E     .E#t  GEEEEEEELDi   Dt         .E#t    :#L:WE   EW,        f.     ;WE.
*                 E#t t##L             ;W, E###t      t#E    i#W,   ,;;L#K;;.E#i  E#i       i#W,    .KG  ,#D  E##j       E#,   i#G  
*                 E#t  .E#K,          j##, E#fE#f     t#E   L#D.       t#E   E#t  E#t      L#D.     EE    ;#f E###D.     E#t  f#f   
*                 E#t    j##f        G###, E#t D#G    t#E :K#Wfff;     t#E   E#t  E#t    :K#Wfff;  f#.     t#iE#jG#W;    E#t G#i    
*                 E#t    :E#K:     :E####, E#t  f#E.  t#E i##WLLLLt    t#E   E########f. i##WLLLLt :#G     GK E#t t##f   E#jEW,     
*                 E#t   t##L      ;W#DG##, E#t   t#K: t#E  .E#L        t#E   E#j..K#j...  .E#L      ;#L   LW. E#t  :K#E: E##E.      
*                 E#t .D#W;      j###DW##, E#t    ;#W,t#E    f#E:      t#E   E#t  E#t       f#E:     t#f f#:  E#KDDDD###iE#G        
*                 E#tiW#G.      G##i,,G##, E#t     :K#D#E     ,WW;     t#E   E#t  E#t        ,WW;     f#D#;   E#f,t#Wi,,,E#t        
*                 E#K##i      :K#K:   L##, E#t      .E##E      .D#;    t#E   f#t  f#t         .D#;     G#t    E#t  ;#W:  E#t        
*                 E##D.      ;##D.    L##, ..         G#E        tt     fE    ii   ii           tt      t     DWi   ,KK: EE.        
*                 E#t        ,,,      .,,              fE                :                                               t          
*                 L:                                    ,                                                                           
*
*                                                 "Knock On The Sky And Listen To The Sound"
*
*
*==================================================================================================================================================================================================================================*/
/* ==========================================================================
   GLOBAL MARGIN/PADDING FIX
   ========================================================================== */
* {
    margin:0px;
    padding:0px;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
  Branden Dane custom styles n junk
   ========================================================================== */
/**
*** PRELOADER STYLES***/
#preloader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999;
    width:100%;
    min-height: 100%;
}
#status {
    display: block;
    width:100%;
    height:100%;
    min-width: 320px;
    min-height: auto;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../images/status.gif');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px;
}
#loading-text {
    display: inline-block;
    text-align: center;
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0px;
    color: white;
    font-size: 1em;
    font-family: 'redkiteblack';
}

/**
*** END PRELOADER STYLES***/

/**
*** MAIN CONTENT STYLES***/
#dance {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    /* max-width: 1920px; */ 
    max-height: 1080px; 
    z-index: -2;
    background: url('../images/dance.gif');
    background-size:100% 100%;
}
header {
    width: 100%;
    margin:0px auto;
		
    display: block;
}
#content {
    font-family: 'big_johnregular';
 
}
#content h1 {
    text-align: center;
    color: white;
    margin: 20% 10% -23% 20%;
    text-shadow: 3px 3px 3px black;
}
#content span {
     color: #b6212d;
     padding-top: 0;
     margin: 10% -15% 10% 10%;
}
#content h2 {
    text-align: center;
    color: white;
    z-index: 21;
    margin: 25% 0% 0% 0%;
    text-shadow: 2px 2px 2px black;
}
#content h2.behind {
    text-align: center;
    font-size: 3.1em;
    margin: -10% -15% 0% -15%;
    font-family: 'slim_joeregular';
    color: #7f171f;
    z-index: -1;
    opacity:.4;
    text-shadow: 0px 0px 0px black;
    position: relative;
}
#content h4 {
    text-align: center;
    color: #21b6a8;
    font-family: 'slim_joeregular';
    margin: -3% -65% 0% 0%;
    text-shadow: 1px 1px 1px black;
    font-size: 0.65em;
}
/**
*** END MAIN CONTENT STYLES***/

